<section class="hero">

    <div class="hero-content">

        <span class="badge">
            ⚡ Tecnología para todos
        </span>

        <h1>
            Equipa tu mundo con la mejor tecnología
        </h1>

        <p>
            Encuentra mouse, teclados, audífonos, cargadores, memorias USB,
            accesorios y mucho más al mejor precio.
        </p>

        <div class="hero-buttons">

            <button class="btn-primary">
                Ver Catálogo
            </button>

            <button class="btn-secondary">
                WhatsApp
            </button>

        </div>

    </div>

    <div class="hero-image">

        💻

    </div>

</section>
