<!-- ======================================================
     FILTROS DEL CATÁLOGO
====================================================== -->

<aside class="filters">

    <h2>

        Filtros

    </h2>

    <hr>

    <!-- Categorías -->

    <section>

        <h3>Categorías</h3>

        <label>

            <input type="checkbox">

            Mouse

        </label>

        <label>

            <input type="checkbox">

            Teclados

        </label>

        <label>

            <input type="checkbox">

            Audífonos

        </label>

        <label>

            <input type="checkbox">

            Monitores

        </label>

    </section>

    <hr>

    <!-- Marcas -->

    <section>

        <h3>Marcas</h3>

        <label>

            <input type="checkbox">

            Logitech

        </label>

        <label>

            <input type="checkbox">

            HyperX

        </label>

        <label>

            <input type="checkbox">

            Redragon

        </label>

        <label>

            <input type="checkbox">

            ASUS

        </label>

    </section>

</aside>
