<h2>
    Filtros
</h2>

<hr>

<!-- ======================================================
    CATEGORÍAS
====================================================== -->

<section>

    <h3>Categorías</h3>

    <label>
        <input
            type="checkbox"
            (change)="toggleCategory('Mouse', $any($event.target).checked)"
        >
        Mouse
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleCategory('Teclados', $any($event.target).checked)"
        >
        Teclados
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleCategory('Audifonos', $any($event.target).checked)"
        >
        Audífonos
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleCategory('Monitores', $any($event.target).checked)"
        >
        Monitores
    </label>

</section>

<hr>

<!-- ======================================================
    MARCAS
====================================================== -->

<section>

    <h3>Marcas</h3>

    <label>
        <input
            type="checkbox"
            (change)="toggleBrand('Logitech', $any($event.target).checked)"
        >
        Logitech
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleBrand('HyperX', $any($event.target).checked)"
        >
        HyperX
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleBrand('Redragon', $any($event.target).checked)"
        >
        Redragon
    </label>

    <label>
        <input
            type="checkbox"
            (change)="toggleBrand('Asus', $any($event.target).checked)"
        >
        ASUS
    </label>

</section>