<!-- ======================================
     SECCIÓN DE CATEGORÍAS
======================================= -->

<section class="categories">

    <!-- Título principal -->
    <h2>

        Explora nuestras categorías

    </h2>

    <!-- Descripción -->
    <p>

        Encuentra fácilmente la tecnología que necesitas.

    </p>

    <!-- Contenedor de las tarjetas -->
    <div class="categories-grid">

        <div class="card"
             *ngFor="let category of categories">

            <!-- Icono -->
            <span>

                {{ category.icon }}

            </span>

            <!-- Nombre -->
            <h3>

                {{ category.name }}

            </h3>

        </div>

    </div>

</section>