<!-- ======================================================
    PRODUCTOS DESTACADOS
====================================================== -->

<section class="featured-products">

    <!-- Título -->

    <div class="section-title">

        <h2>

            Productos Destacados

        </h2>

        <p>

            Descubre algunos de nuestros productos más vendidos.

        </p>

    </div>

    <!-- Grid de productos -->

    <div class="products-grid">

        <!--
            @for recorre todos los productos
            obtenidos desde ProductService
        -->

        @for(product of products; track product.id){

            <app-product-card

                [product]="product">

            </app-product-card>

        }

    </div>

</section>