<nav class="navbar">
    

    <a class="logo" routerLink="/"> <!-- convierte el logo en un enlace a la página de inicio -->
        
        <h2>🖥️ MZTECH</h2>

    </a>

    <ul class="menu">

        <li><a routerLink="/">Inicio</a></li>

        <li><a routerLink="/catalog">Catálogo</a></li>

        <li><a routerLink="/categories">Categorías</a></li>

        <li><a routerLink="/about">Sobre Nosotros</a></li>

        <li><a routerLink="/contact">Contacto</a></li>
    </ul>

    <div class="actions">

        <button class="btn-whatsapp"
        type="button"
        (click)="openWhatsApp()" ><!-- abre whatsapp al dar click -->
            WhatsApp
        </button>

        <a class="btn-login"
        routerLink="/admin/login"
        title="Iniciar sesión"
        aria-label="Iniciar sesión">
        
        <svg
        
        class="icon-user"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        >
        
        <path d="M20 21a8 8 0 0 0-16 0"></path>
        <circle cx="12" cy="7" r="4"></circle>
    </svg>
</a>

        
    </div>
</nav>
