:root {
    --primary: #6A0DAD;
    --primary-dark: #4A148C;

    --black: #1E1E1E;
    --white: #FFFFFF;

    --gray-light: #F5F5F5;
    --gray: #9CA3AF;
    --gray-dark: #4B5563;

    --success: #25D366;

    --shadow: 0 10px 25px rgba(0,0,0,.10);

    --radius: 12px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-light);
    color: var(--black);
}

app-root {
    display: block;
    width: 100%;
    min-height: 100vh;
}
