<!-- ===================================================
    FOOTER MZ-TECH
=================================================== -->

<footer class="footer">

    <!-- Contenedor principal -->

    <div class="footer-container">

        <!-- ==========================================
            LOGO
        =========================================== -->

        <div class="footer-about">

            <h2>

                🖥️ MZTECH

            </h2>

            <p>

                Tecnología para todos.
                Encuentra los mejores accesorios y equipos
                al mejor precio.

            </p>

        </div>

        <!-- ==========================================
            EMPRESA
        =========================================== -->

        <div class="footer-column">

            <h3>

                Empresa

            </h3>

            <a *ngFor="let item of menu"
               [routerLink]="item.route">

                {{ item.title }}

            </a>

        </div>

        <!-- ==========================================
            CATEGORÍAS
        =========================================== -->

        <div class="footer-column">

            <h3>

                Categorías

            </h3>

            <a *ngFor="let category of categories">

                {{ category }}

            </a>

        </div>

        <!-- ==========================================
            CONTACTO
        =========================================== -->

        <div class="footer-column">

            <h3>

                Contacto

            </h3>

            <a>

                📱 WhatsApp

            </a>

            <a>

                ✉ contacto@mztech.com

            </a>

            <a>

                📍 Bogotá - Colombia

            </a>

        </div>

        <!-- ==========================================
            REDES
        =========================================== -->

        <div class="footer-column">

            <h3>

                Síguenos

            </h3>

            <a *ngFor="let social of socials">

                {{ social.name }}

            </a>

        </div>

    </div>

    <!-- ==========================================
    MÉTODOS DE PAGO
========================================== -->

<div class="payments-container">

    <div class="payment-card"
         *ngFor="let payment of payments">

        {{ payment }}

    </div>

</div>

    <!-- ==========================================
        COPYRIGHT
    =========================================== -->

    <div class="copyright">

        © 2026 MZ-Tech | Todos los derechos reservados.

    </div>

</footer>